<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                    Overview
                </h1>
            </div>
            <div class="ibox-content"><br>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>   </th>
                            <th>IMSI</th>
                            <th>MSISDN</th>
                            <th>Activated</th>
                            <th>Company</th>
                            <th>Service</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <button type="button" class="btn btn-w-m btn-primary">Order</button>
            <button type="button" class="btn btn-w-m btn-primary">Activate</button>
            <button type="button" class="btn btn-w-m btn-primary">Terminate</button>
            <button type="button" class="btn btn-w-m btn-primary">Create SP</button>
            <button type="button" class="btn btn-w-m btn-primary">Change SP</button>
            <button type="button" class="btn btn-w-m btn-primary">Send SMS</button>
<br>


        </div>
    </div>
</div>
