<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                    Overview
                </h1>
            </div>
            <div ibox-tools></div>
            <div class="ibox-content"><br>
                <table id="escalation" datatable="" class="table table-striped table-hover dataTables-example ">

                        <thead>
                        <tr>

                            <th>   </th>
                            <th>IMSI</th>
                            <th>MSISDN</th>
                            <th>Activated</th>
                            <th>Company</th>
                            <th>Service</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020000</small></td>
                            <td>43003001000000</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>231000020001</small></td>
                            <td>43003001000001</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox"></td>
                            <td>231000020002</small></td>
                            <td>43003001000002</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>DPD World</td>
                            <td>SP1</td>
                            <td>Active</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" data-target="#Order">Order</button>
            <button type="button" class="btn btn-w-m btn-primary" id="btnAC" data-toggle="modal" data-target="#AC" disabled>Activate</button>
            <button type="button" class="btn btn-w-m btn-primary" id="btnTE" data-toggle="modal" data-target="#TE" disabled>Terminate</button>
            <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" data-target="#SP">Create SP</button>
            <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" data-target="#CSP">Change SP</button>
            <button type="button" class="btn btn-w-m btn-primary" data-toggle="modal" data-target="#SMS">Send SMS</button>
<br>


        </div>
    </div>

    <div class="modal fade" id="Order" tabindex="-1" role="dialog" aria-labelledby="Orderlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="Orderlabel">Order</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-noraml">Select</label>
                        <div class="input-group">
                            <select data-placeholder="Select SIM..." class="chosen-select" style="width:350px;" tabindex="2">
                                <option value="">Select SIM</option> 
                                <option value="ClassicMini">ClassicMini</option>
                                <option value="ClassicMicro">ClassicMicro</option>
                                <option value="A1Clasic">A1Clasic</option>
                                <option value="A1d23ultra">A1d23ultra</option>
                                <option value="NanoInter">NanoInter</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"><label>Quantity</label> <input type="name" placeholder="Quantity" class="form-control"></div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>



    <div class="modal fade" id="AC" tabindex="-1" role="dialog" aria-labelledby="AClabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="AClabel">Activate</h4>
                </div>

                <div class="modal-body">
                   <div class="form-group">
                        <label class="font-noraml">Service profile</label>
                        <div class="input-group">
                            <select data-placeholder="Service profile" class="chosen-select" style="width:350px;" tabindex="2">
                                <option value="">Service profile</option> 

                            </select>
                        </div>
                    </div>
                </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
        </div>
    </div>



    <div class="modal fade" id="SP" tabindex="-1" role="dialog" aria-labelledby="SPlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="SPlabel">Create SP</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group"><label>Name</label> <input type="name" placeholder="Name" class="form-control"></div>
                    <div class="form-group"><label>Data limit</label> <input type="name" placeholder="Data limit" class="form-control"></div>
                    <div class="form-group"><label>SMS limit</label> <input type="name" placeholder="SMS limit" class="form-control"></div>
                    <label>LTE enabled: <input type="checkbox"></label><br/>
                </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>



        <div class="modal fade" id="CSP" tabindex="-1" role="dialog" aria-labelledby="CSPlabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="CSPlabel">Change SP</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                        <label class="font-noraml">Select</label>
                            <div class="input-group">
                                <select data-placeholder="Select SIM..." class="chosen-select" style="width:350px;" tabindex="2">
                                    <option value="">Select SP</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
            </div>
        </div>



        <div class="modal fade" id="SMS" tabindex="-1" role="dialog" aria-labelledby="SMSlabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="SMSlabel">Send SMS</h4>
                    </div>

                    <div class="modal-body">
                        <textarea class="form-control" style="min-width: 100%" placeholder="Message" id="SMSarea"></textarea>
                    </div>
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
            </div>
        </div>




    </div>

</div>

<script>
   $(document).ready(function () {
        $('#escalation').DataTable();
    });
</script>


<script>
var counterChecked = 0;

$('#escalation').on('change', 'input[type="checkbox"]', function() {

    this.checked ? counterChecked++ : counterChecked--;
    counterChecked > 0 ? $('#btnAC').prop("disabled", false): $('#btnAC').prop("disabled", true);
    counterChecked > 0 ? $('#btnTE').prop("disabled", false): $('#btnTE').prop("disabled", true);

});
</script>

