<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                    Triggers
                </h1>

            </div>

            <div class="ibox-content"><br>
                <div class="table-responsive">
                    <table id="escalation" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Checkbox</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Created</th>
                            <th>SIM Count</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Checkbox</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Created</th>
                            <th>SIM Count</th>
                            <th>State</th>
                        </tr>
                        </tfoot>
                    </table>


                </div>

            </div>
            <button type="button" name="imsiButton" class="btn btn-w-m btn-primary" id="btnCT" data-toggle="modal" data-target="#CT">Create Trigger</button>
            <button type="button" name="imsiButton" class="btn btn-w-m btn-primary" id="btnDT" data-toggle="modal" data-target="#DT" disabled>Deactivate Trigger</button>

        </div>
    </div>
</div>

<form class="modal fade" id="CT" tabindex="-1" role="dialog" action="http://localhost:3000/create_trigger" method="post" onsubmit="$('#CT').modal('hide')">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="Createlabel">Create Trigger</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group"><label>Trigger name</label> <input name="trigger_name" type="text" placeholder="Name" class="form-control" required></div>
                    <div class="form-group">
                        <label class>Select type</label>
                        <div class="input-group">
                            <select name="trigger_type" type="text" data-placeholder="Select type" class="chosen-select" style="width:350px;" tabindex="2">
                                <option value="point">Point in time</option>
                                <option value="time">Time past from first activity</option>
                                <option value="threshold">Data threshold</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"><label> Enter: </label> <input id="custom" type="datetime-local" placeholder="DD/MM/YYYY HH:MM" class="form-control" required> </div>
                    <div class="form-group">
                        <label class>Select action</label>
                        <div class="input-group">
                            <select data-placeholder="Select type" type="text" class="chosen-select" style="width:350px;" tabindex="2" name="items2">
                                <option value="changeSP">Change SP</option>
                                <option value="sms">Send SMS</option>
                            </select>
                        </div>
                    </div>


                    <div id="showdiv" class="form-group">
                        <label>Select SP</label>
                            <div class="input-group">
                                <select name="SPSelect" data-placeholder="Select SIM..." class="chosen-select" style="width:350px;" tabindex="2">
                                    <option value="">Select SP</option> 
                                </select>
                            </div>
                    </div>
                    <textarea style="display:none" class="form-control" style="min-width: 100%" placeholder="Message" id="SMSarea1"></textarea>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
</form>


<form class="modal fade" id="DT" tabindex="-1" role="dialog" action="http://localhost:3000/deactivate_triggers" method="post" onsubmit="$('#DT').modal('hide')">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="DElabel">Deactivate</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">IMSI</div>
                    <div class="panel-body" name="currentIMSI"> </div>
                    <input class="panel-body" name="currentIMSIInput" type="text" hidden> </input>
                </div>
                <div class="modal-body">
                    <div><p>Do you want to deactivate checked triggers?</p></div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
        </div>
</form>



<div class="modal fade" tabindex="-1" role="dialog" id="showInfoTriggers">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="infolabel">Trigger info</h4>
            </div>                
            <div class="modal-body">
                <label>IMSI: </label><p>Z bazy</p>
                <label>Trigger type: </label><p>Z bazy</p>
                <label>Execution date: </label><p>Z bazy</p>
                <label>Action: </label><p>Z bazy</p>
            </div>  
        </div>
    </div>
</div>  



<script>
    $.post("http://localhost:3000/get_profiles", function (data) {
        $.each(data, function (i, word) {
            console.log(word._id)
            $("[name='SPSelect']").append("<option>" + word._id + "</option>");
        });
    });

    var simple_checkbox = function ( data, type, full, meta ) {
        var is_checked = data == true ? "checked" : "";
        return '<input type="checkbox" onclick="return false;" onkeydown="return false; class="checkbox" ' +
            is_checked + ' />';
    }
    var table = $('#escalation').DataTable({
        ajax: {
            url: 'http://localhost:3000/triggers',
            type: 'GET',
            dataSrc: ""
        },
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
        }],
        select: {
            style: 'os',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']],
        'columns': [
            {"data": null, "defaultContent": "<input name='selectionCheckbox' type='checkbox' class='ajax-edit' data-toggle='modal' style='vertical-align: middle'></input>" },
            {"data": "id", "defaultContent": " "},
            {"data": "name", "defaultContent": " "},
            {"data": "type", "defaultContent": " "},
            {"data": "creation_date", "defaultContent": " "},
            {"data": "sim_count", "defaultContent": " "},
            {"data": "state", "defaultContent": " "},
        ],
    });

    // Handle form submission event
    $('#escalation').on('submit', function (e) {
        var form = this;

        var rows_selected = table.column(0).checkboxes.selected();

        // Iterate over all selected checkboxes
        $.each(rows_selected, function (index, rowId) {
            // Create a hidden element
            $(form).append(
                $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'id[]')
                    .val(rowId)
            );
        });
    });
</script>

<script>
        var counterChecked = 0;
        $('#escalation').on('change', 'input[type="checkbox"]', function() {
            this.checked ? counterChecked++ : counterChecked--;
            counterChecked > 0 ? $('#btnDT').prop("disabled", false): $('#btnDT').prop("disabled", true);
    });
</script>

<script>
        $("select[name=trigger_type]").change(function() {
            if ($(this).val() == 'point') {
                $("#custom").prop('type', 'datetime-local');
                $("#custom").prop('placeholder', 'DD/MM/YYYY HH:MM');
            }
            if ($(this).val() == 'time') {
                $("#custom").prop('type', 'number');
                $("#custom").prop('placeholder', 'Number');
            }
            if ($(this).val() == 'threshold') {
                $("#custom").prop('type', 'number');
                $("#custom").prop('placeholder', 'Value');
            }
    });
</script>

<script>
        $("select[name=items2]").change(function() {
            if ($(this).val() == 'changeSP') {
                $("#showdiv").show();
                $("#SMSarea1").hide();
            }
            if ($(this).val() == 'sms') {
                $("#showdiv").hide();
                $("#SMSarea1").show();
            }
    });
</script>

<script>
        $("#escalation tr td:not(:first-child)").attr('data-toggle','modal');
        $("#escalation tr td:not(:first-child)").attr('data-target','#showInfoTriggers');
        $("#escalation tr td:not(:first-child)").attr('style','cursor:pointer');


</script>

<script>
    $('button[name=imsiButton]').on( "click", function() {
        $('div[name=currentIMSI]').empty();
        var n = 1;
        var txt = ' ';
        for (var x=0;x<200;x+=1){
            if($('input[name="selectionCheckbox"]').eq(x).prop('checked')){
                txt += $("tr td").eq(n).text();
                txt += ", ";
            }
            n+=7;
        }
        $('div[name=currentIMSI]').append(" "+txt+" ");
        if(" "+txt+" " != "") {
            $('input[name=currentIMSIInput]').val(" " + txt + " ");
        }
    });
</script>


