<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                    Triggers
                </h1>

            </div>

            <div class="ibox-content"><br>
                <div class="table-responsive">
                    <table id="escalation" datatable="" class="table table-striped table-hover dataTables-example ">
                    <thead>
                        <tr>
                            <th>   </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Created</th>
                            <th>Sim Count</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>1</small></td>
                            <td>Change SP for NEW</td>
                            <td>Change SP</td>
                            <td>2016-05-22 12:05:33</td>
                            <td>1</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>2</small></td>
                            <td>Block Sim</td>
                            <td>Change SP</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>12</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>3</small></td>
                            <td>Voice enabled</td>
                            <td>Change SP</td>
                            <td>2016-12-12 08:00:00</td>
                            <td>7</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td><input icheck type="checkbox" ></td>
                            <td>4</small></td>
                            <td>Block Sim</td>
                            <td>Change SP</td>
                            <td>2016-10-02 08:12:39</td>
                            <td>2</td>
                            <td>Active</td>
                        </tr>
                        </tbody>

                    </table>


                </div>

            </div>
            <button type="button" class="btn btn-w-m btn-primary" id="btnCT" data-toggle="modal" data-target="#CT">Create Trigger</button>
            <button type="button" class="btn btn-w-m btn-primary" id="btnDT" data-toggle="modal" data-target="#DT" disabled>Delete Trigger</button>

        </div>
    </div>
</div>

<div class="modal fade" id="CT" tabindex="-1" role="dialog" aria-labelledby="Createlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="Createlabel">Create Trigger</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group"><label>Trigger name</label> <input type="name" placeholder="Name" class="form-control"></div>
                    <div class="form-group">
                        <label class>Select type</label>
                        <div class="input-group">
                            <select data-placeholder="Select type" class="chosen-select" style="width:350px;" tabindex="2" name="items">
                                <option value="point">Point in time</option>
                                <option value="time">Time past from first activity</option>
                                <option value="threshold">Data threshold</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"><label> Enter: </label> <input id="custom" type="datetime-local" placeholder="DD/MM/YYYY HH:MM" class="form-control"> </div>
                    <div class="form-group">
                        <label class>Select action</label>
                        <div class="input-group">
                            <select data-placeholder="Select type" class="chosen-select" style="width:350px;" tabindex="2" name="items2">
                                <option value="changeSP">Change SP</option>
                                <option value="sms">Send SMS</option>
                            </select>
                        </div>
                    </div>


                    <div id="showdiv" class="form-group">
                        <label>Select SP</label>
                            <div class="input-group">
                                <select data-placeholder="Select SIM..." class="chosen-select" style="width:350px;" tabindex="2">
                                    <option value="">Select SP</option> 
                                </select>
                            </div>
                    </div>
                    <textarea style="display:none" class="form-control" style="min-width: 100%" placeholder="Message" id="SMSarea1"></textarea>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
        </div>
</div>


<div class="modal fade" id="DT" tabindex="-1" role="dialog" aria-labelledby="DElabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="DElabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <div><p>Do you want to delete checked triggers?</p></div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
        </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" id="showInfoTriggers">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="infolabel">Trigger info</h4>
            </div>                
            <div class="modal-body">
                <label>IMSI: </label><p>Z bazy</p>
                <label>Trigger type: </label><p>Z bazy</p>
                <label>Execution date: </label><p>Z bazy</p>
                <label>Action: </label><p>Z bazy</p>
            </div>  
        </div>
    </div>
</div>  



<script>
   $(document).ready(function () {
        $('#escalation').DataTable( {
             "columnDefs": [
            {className: "clickable-row", "targets": [1] }
                            ]
            
    })});
</script>

<script>
    $(document).ready(function () {
        var counterChecked = 0;
        $('#escalation').on('change', 'input[type="checkbox"]', function() {
            this.checked ? counterChecked++ : counterChecked--;
            counterChecked > 0 ? $('#btnDT').prop("disabled", false): $('#btnDT').prop("disabled", true);

    })});
</script>

<script>
    $(document).ready(function () {
        $("select[name=items]").change(function() {
            if ($(this).val() == 'point') {
                $("#custom").prop('type', 'datetime-local');
                $("#custom").prop('placeholder', 'DD/MM/YYYY HH:MM');
            }
            if ($(this).val() == 'time') {
                $("#custom").prop('type', 'number');
                $("#custom").prop('placeholder', 'Number');
            }
            if ($(this).val() == 'threshold') {
                $("#custom").prop('type', 'number');
                $("#custom").prop('placeholder', 'Value');
            }
    })});
</script>

<script>
    $(document).ready(function () {
        $("select[name=items2]").change(function() {
            if ($(this).val() == 'changeSP') {
                $("#showdiv").show();
                $("#SMSarea1").hide();
            }
            if ($(this).val() == 'sms') {
                $("#showdiv").hide();
                $("#SMSarea1").show();
            }
    })});
</script>

<script>
    $(document).ready(function () {
        $("#escalation tr td:not(:first-child)").attr('data-toggle','modal');
        $("#escalation tr td:not(:first-child)").attr('data-target','#showInfoTriggers');
        $("#escalation tr td:not(:first-child)").attr('style','cursor:pointer');
    });
</script>

